*{
    margin: 0;
    border: 0;
    padding: 0;
}

.mainPage{
    height: 80vh;
    display: flex;
    align-items: center;

}

.about{
    height: 80vh;
    display: flex;
    align-items: center;
}

.profilePic{
    border-radius: 50%;
}

.card_img{
    background-image:url('./Images/html_logo.jpg');
    width: 100%;
    height: 100%;
}

.Skills {
    height: 50vh;
;
}

.Contact {
    height: 80vh;
    display: flex;
    align-items: center;
}